spring:
  main:
    banner-mode: off
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
  jackson:
    serialization:
      fail-on-empty-beans: false
  mail:
    host: smtp-mail.outlook.com
    username: medicine.service@outlook.com
    password: medicineservice1
    port: 587
    protocol: smtp
    properties:
      mail:
        debug: true
      smtp:
        starttls:
          enable: true
          required: true
  datasource:
    url: jdbc:mysql://localhost:3306/app
    username: root
    password: 7203312
#  datasource:
#    url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/${MYSQL_DB:app}
#    username: ${MYSQL_USER:root}
#    password: ${MYSQL_PASSWORD:7203312}

  liquibase:
    change-log: classpath:db/changelog/changelog-master.xml
bot:
  name: ${bot.name}
  token: ${bot.token}
zoom:
  client-id: ${zoom.client-id}
  client-secret: ${zoom.client-secret}
  account-id: ${zoom.account-id}

openai:
  key: ${openai.key}

#training:
#    opennlp:
#      data:
#        path: "openai-chatbot/src/main/resources/training_opennlp_data.txt"
#    openai:
#      data:
#        path: "openai-chatbot/src/main/resources/training_file.json"
server:
  port: 8080
